body {
  background-color: #000 !important;
}
body, p, h1, h2, h3, h4, h5, h6, span, div, /* Add more elements as needed */
a, tr, td, th, button, input, textarea {
  color: #fff !important; /* white color */
}

.my-btns {
  background-color: #222 !important;
  border: none !important;
}

.my-btns:hover {
  background-color: #444 !important;
}

.nav-menu {
  border: none !important;
}

.amplify-menu__trigger {
  background-color: black !important;
  border: none !important;
  color: white !important;
}
.amplify-menu__trigger:active, .amplify-menu__trigger:hover, .amplify-menu__trigger:focus {
  background-color: #222 !important;
  color: white !important;
}

/* WebKit (Safari/Chrome) */
::-webkit-scrollbar {
    width: 5px !important; /* width of vertical scrollbar */
    height: 5px !important; /* height of horizontal scrollbar */
}

/* WebKit (Safari/Chrome) */
::-webkit-scrollbar-track {
    background: transparent !important; /* background of the track */
}

/* WebKit (Safari/Chrome) */
::-webkit-scrollbar-thumb {
    background: #888 !important; /* color of the scrollbar thumb */
}

::-webkit-scrollbar-button {
  display: none !important;
}